<form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
  <section class="form-group">
    <label for="name" class="form-label">Name</label>
    <input
      class="form-input"
      type="text"
      id="name"
      formControlName="name"
      required
    />
  </section>
  <section class="form-group">
    <label for="description" class="form-label">Description</label>
    <input
      class="form-input"
      type="text"
      id="description"
      formControlName="description"
    />
  </section>
  <button class="btn btn-primary w-full" type="submit">
    {{ shouldUpdate ? 'Save' : 'Create' }}
  </button>
</form>
