<section *ngIf="favorites$ | async as favorites">
  <div
    *ngIf="favorites.length == 0; else list"
    class="alert alert-info my-10 mx-5"
  >
    <strong>No favorites yet</strong>
    <p>
      <a routerLink="/photos">Search</a> for some images to create a favorite
      list
    </p>
  </div>

  <ng-template #list>
    <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
      <div
        *ngFor="let fav of favorites"
        class="bg-white border-l-4 border-blue-600 m-5 p-5"
      >
        <div class="flex items-center justify-between">
          <h1 class="flex-1">
            <a class="block no-underline" [routerLink]="fav.id">
              {{ fav.name }}
            </a>
          </h1>
          <span class="text-xl text-gray-600">
            {{ fav.photoIds.length }}
            {{ fav.photoIds.length > 1 ? 'photos' : 'photo' }}
          </span>
        </div>
        <p *ngIf="fav.description">{{ fav.description }}</p>
      </div>
    </section>
  </ng-template>
</section>

<router-outlet></router-outlet>
