<ng-container
  *ngIf="{
    favorites: favorites$ | async,
    selected: favoriteId$ | async
  } as data"
>
  <div
    *ngIf="data.favorites.length == 0; else list"
    class="alert alert-info my-10 mx-5"
  >
    <strong>No favorites yet</strong>
    <p>
      <a routerLink="/photos">Search</a> for some images to create a favorite
      list
    </p>
  </div>

  <ng-template #list>
    <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
      <div
        *ngFor="let fav of data.favorites"
        class="bg-white border-l-8 m-5 p-5 shadow-lg"
        [class]="{
          'border-green-600': fav.id == data.selected,
          'border-blue-600': fav.id != data.selected
        }"
      >
        <div class="flex items-center justify-between">
          <h1 class="flex-1 pr-5">
            <a
              class="block no-underline"
              [routerLink]="['/photos/favorites/', fav.id]"
            >
              {{ fav.name }}
            </a>
          </h1>
          <span class="text-xl text-gray-600">
            {{ fav.photoIds.length }}
            {{ fav.photoIds.length > 1 ? 'photos' : 'photo' }}
          </span>
        </div>
        <p *ngIf="fav.description">{{ fav.description }}</p>
      </div>
    </section>

    <ng-template [ngIf]="data.selected">
      <ng-container
        *ngIf="
          getSelected(data.favorites, data.selected) as selected;
          else notFound
        "
      >
        <image-search-favorite-group
          [list]="selected"
        ></image-search-favorite-group>
      </ng-container>

      <ng-template #notFound>
        <div class="alert alert-danger m-5">
          <strong>Not found</strong>
          <p>This favorite list was not found</p>
        </div>
      </ng-template>
    </ng-template>
  </ng-template>
</ng-container>
