.form-group {
  @apply flex flex-col mb-4;
}

.form-label {
  @apply mb-2;
}

.form-input {
  @apply rounded bg-white text-gray-700 py-2 px-3;
}

.btn {
  @apply rounded transition-colors duration-200 py-2 px-3;

  &:disabled {
    @apply bg-gray-400;
  }

  &.btn-primary {
    @apply bg-blue-600 text-white;

    &:hover {
      @apply bg-blue-700;
    }
  }
}

.center {
  @apply flex flex-col justify-center items-center;
}

.icon {
  height: 1em;
  width: 1em;
}

.alert {
  @apply rounded p-3;

  &.alert-danger {
    @apply bg-red-200 text-red-800;
  }

  &.alert-success {
    @apply bg-green-200 text-green-800;
  }

  &.alert-info {
    @apply bg-blue-200 text-blue-800;
  }
}

.loader {
  display: inline-block;
  width: 2em;
  height: 2em;

  &:after {
    content: '';
    display: block;
    width: 1.6em;
    height: 1.6em;
    margin: 0.2em;
    border-radius: 50%;
    border: 0.2em solid theme('colors.blue.500');
    border-color: theme('colors.blue.500') transparent theme('colors.blue.500')
      transparent;
    animation: loader 1.2s linear infinite;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
