<form
  class="flex justify-center my-10"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  ngNativeValidate
>
  <div class="flex shadow-lg">
    <input
      class="form-input flex-1 text-xl rounded-r-none p-3"
      type="text"
      placeholder="Enter a keyword"
      aria-label="Search keyword"
      formControlName="keyword"
      required
      minlength="2"
    />
    <button class="btn text-xl btn-primary rounded-l-none p-3" type="submit">
      Search
    </button>
  </div>
</form>

<image-search-photo-list></image-search-photo-list>
