:host {
  @apply block relative w-full;

  @screen md {
    @apply w-full h-0;

    padding-top: 100%;
  }
}

figure {
  img {
    @apply object-cover h-full w-full;
  }

  section {
    @apply bg-white w-full py-2 px-3 z-10;

    @screen md {
      @apply relative bottom-0 opacity-0;

      transform: translateY(-100%);
      transition: all 200ms ease-in;
    }
  }

  @screen md {
    @apply absolute top-0 left-0 h-full w-full;

    &:hover section {
      @apply opacity-100;

      transition-timing-function: ease-out;
      transform: translateY(0);
    }
  }
}
