:host {
  @apply block relative w-full;

  @screen md {
    @apply overflow-hidden w-full h-0;

    padding-top: 100%;
  }
}

figure {
  .thumbnail {
    @apply w-full;
  }

  .img-background {
    @apply hidden;
  }

  section {
    @apply bg-white w-full py-2 px-3 z-20;

    @screen md {
      @apply absolute bottom-0 opacity-0;

      transition: opacity 200ms ease-in;
    }
  }

  @screen md {
    @apply absolute top-0 left-0 h-full w-full;

    &:hover section {
      @apply opacity-100;

      transition-timing-function: ease-out;
    }

    .thumbnail {
      @apply absolute z-10;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .img-background {
      @apply block z-0 h-full w-full;

      filter: blur(5px) brightness(0.8);
      transform: scale(1.1);
    }
  }
}
